service cloud.firestore {
  match /databases/{database}/documents {
  function matchesCurrentUser(uid) {
  	return request.auth.uid != null && request.auth.uid == uid;
  }
    match /users/{userId} {
      allow read, write: if matchesCurrentUser(userId);
      match /{document=**} {
      	allow read, write: if matchesCurrentUser(userId);
      }
    }
  }
}